body{
    color: black;
    margin: 20px;
    padding: 2px;
    background-image: url(himalaya\ photo.jpg);
    background-repeat: repeat;
    background-size:100%;
    background-position: center ;
    border: 5px solid rgb(216, 46, 46);
}
.a{
     border: 2px solid rgb(157, 54, 76);
}
.c{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    
}
.b{
    display: flex;
    justify-content: left;
    border: 2px solid rgb(68, 68, 33);
    
}
.d{
    display: flex;
    justify-content: right;
    border: 2px solid rgb(68, 68, 33);
}
.e{
    display: flex;
    justify-content: center;
}
.f{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.g{
    border: 2px solid rgb(68, 68, 33);
}
.h{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.i{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.j{
    display: flex;
    justify-content: center;
}
.k{
    text-align: center;
   
}
.l{
    display: flex;
    justify-content:end;
    gap: 15px;
    padding: 10px;
}
.m{
}